.image {
  transition: all 300ms ease-out;
}
.product:hover .image {
  transform: scale(1.1);
  transition: all 300ms ease-in;
}

.action {
  transform: translateY(25%);
  opacity: 0;
  transition: all ease-in-out 300ms;
}

.product:hover .action {
  transform: translateX(0);
  opacity: 1;
}
