@tailwind base;
@tailwind components;
@tailwind utilities;

.component {
  @apply lg:px-10 lg:py-1;
}
.link {
  @apply hover:text-primary transition-all delay-75 no-underline;
}
.icon {
  @apply w-5 h-5 cursor-pointer;
}

.sidebarMenu {
  @apply border w-full py-1;
}
.section {
  @apply lg:py-5 pb-2;
}
.sub-section {
  @apply lg:px-10 lg:py-5 px-1 py-3;
}

.tori-btn-primary {
  @apply bg-primary text-white rounded-full px-3 py-2 font-medium text-sm;
}
.tori-btn-secondary {
  @apply bg-primary text-white rounded-md px-3 py-2 font-medium text-sm;
}

.tori-text-neutral {
  @apply text-[#374151];
}
.tori-bg-gray {
  @apply bg-[#F9FAFB];
}

.tori-btn-active {
  @apply bg-primary/10 text-primary rounded-full px-2 py-[1px] font-medium;
}

.coupon-tag {
  @apply bg-primary/10 text-primary border-dashed border-primary border rounded-md px-1;
}

.link {
  @apply hover:text-primary transition-all delay-[30ms];
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
