@tailwind base;
@tailwind components;
@tailwind utilities;

.component {
  @apply lg:px-10 lg:py-1;
}
.link {
  @apply hover:text-primary transition-all delay-75 no-underline;
}
.icon {
  @apply w-5 h-5 cursor-pointer min-w-max;
}

.sidebarMenu {
  @apply border w-full py-1;
}
.section {
  @apply lg:py-5 pb-2;
}
.sub-section {
  @apply lg:px-10 lg:py-5 px-2 py-3;
}

.tori-btn-primary {
  @apply bg-primary text-white rounded-full px-3 py-2 font-medium text-sm;
}
.tori-btn-secondary {
  @apply bg-primary text-white rounded-md px-3 py-2 font-medium text-sm;
}

.tori-text-neutral {
  @apply text-[#374151];
}
.tori-bg-gray {
  @apply bg-[#F9FAFB];
}
.tori-title {
  @apply font-bold text-base;
}
.price {
  @apply font-extrabold text-xl;
}
.coupon-tag {
  @apply bg-primary/10 text-primary border-dashed border-primary border rounded-md px-1;
}

.link {
  @apply hover:text-primary transition-all delay-[30ms];
}

.tori-input {
  @apply focus:outline-none border px-2 placeholder:text-xs border-black/20 rounded-sm text-black text-sm py-1 w-full;
}

.tori-label {
  @apply text-sm block text-gray-500;
}

.dashboard-link {
  @apply flex hover:bg-[#F9FAFB] p-2 hover:text-primary text-sm font-medium items-center gap-1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
